<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaha.server.emaul.mapper.AppMainTemplateMapper">

	<!-- 메인 템플릿 목록 조회 -->
	<select id="selectMainTemplateList" resultType="map">
		<![CDATA[
		SELECT /* selectMainTemplateList */ A.code_group AS codeGroup
		, A.name AS codeGroupName
		, B.code
		, B.name AS codeName
		, C.id
		, IFNULL(C.template_title, '') AS templateTitle
		, IFNULL(CASE WHEN C.more_show_url_use_yn = 'Y' THEN C.more_show_url ELSE NULL END, '') AS moreShowUrl
		, IFNULL(C.more_show_url_use_yn,'') AS moreShowUrlUseYn
		, IFNULL(C.keyword_count, 0) keywordCount
		, IFNULL(C.display_order, 0) AS displayOrder
		-- , C.display_yn
		, IFNULL(C.display_template_name, B.name) AS displayTemplateName
		, IFNULL(C.highlight_text, '') AS highlightText
		FROM emaul.code_group A JOIN emaul.common_code B ON A.code_group = B.code_group
					 	   LEFT OUTER JOIN emaul.app_main_template C ON B.code = C.code
		WHERE A.code_group LIKE 'APP_MAIN_%'
			AND A.use_yn = 'Y'
		    AND B.use_yn = 'Y'
		    AND C.display_yn = 'Y'
		ORDER BY C.display_order
		]]>
	</select>

	<!-- 메인 템플릿 상세 목록 조회 -->
	<select id="selectMainTemplateDetailList" parameterType="int" resultType="map">
		<![CDATA[
		SELECT A.id
		, IFNULL(A.contents_title, '') AS contentsTitle
		, IFNULL(A.post_id, 0) AS postId
		, IFNULL(A.file_group_key, 0) AS fileGroupKey
		, IFNULL(A.contents_text, '') AS contentsText
		, IFNULL(A.category, '') AS category
		, IFNULL(A.color, '') AS color
		, IFNULL(A.web_url, '') AS webUrl
		-- , C.`type`
		-- , IFNULL(B.title, B.content) AS title
		, CASE WHEN C.`type` IS NULL THEN ''
		       WHEN C.`type` = 'today' THEN REPLACE(REPLACE('emaul://today-detail?id=%id&newsCategory=%newsCategory', '%id', B.id), '%newsCategory', B.news_category)
		       ELSE REPLACE('emaul://post-detail?id=%id', '%id', B.id)
		  END AS appUrl
		FROM emaul.app_main_template_detail A LEFT OUTER JOIN emaul.board_post B ON A.post_id = B.id
											              LEFT OUTER JOIN emaul.board_category C ON B.category_id = C.id
		WHERE A.main_template_id = #{mainTemplateId}
		ORDER BY A.id ASC
		]]>
	</select>

	<!-- 관리비 등록월 조회 -->
	<select id="selectFeeRegMonth" parameterType="long" resultType="string">
		SELECT /* selectFeeRegMonth */ SUBSTRING(A.date, 5, 2) AS feeRegMonth
		FROM apt_fee A JOIN user B ON A.house_id = B.house_id
		WHERE B.id = #{userId}
			AND A.date = DATE_FORMAT(DATE_ADD(NOW(), interval-1 month), '%Y%m')
		LIMIT 0, 1
	</select>

	<!-- 커뮤니티 최근등록 순 조회 -->
	<select id="selectCommunityRecentList" parameterType="long" resultType="map">
		SELECT /* selectCommunityRecentList */ A.id AS categoryId
		, A.type AS categoryType
		, A.name AS categoryName
		, B.id AS postId
		, IFNULL(B.title, B.content) AS title
		FROM board_category A JOIN board_post B ON A.id = B.category_id
		WHERE A.apt_id = #{aptId}
			AND A.type IN ('community', 'complaint', 'notice', 'tts')
			/** AND A.del_yn = 'N' */
		    AND B.blocked = 0
		    AND B.display_yn = 'Y'
		ORDER BY B.id DESC
		LIMIT 0, 3
	</select>

	<!-- 커뮤니티 인기(hit) 순 조회 -->
	<select id="selectCommunityHitList" parameterType="long" resultType="map">
		SELECT /* selectCommunityHitList */ A.id AS categoryId
		, A.type AS categoryType
		, A.name AS categoryName
		, B.id AS postId
		, IFNULL(B.title, B.content) AS title
		FROM board_category A JOIN board_post B ON A.id = B.category_id
		WHERE A.apt_id = #{aptId}
			AND A.type IN ('community', 'complaint', 'notice', 'tts')
			/** AND A.del_yn = 'N' */
		    AND B.blocked = 0
		    AND B.display_yn = 'Y'
		ORDER BY B.view_count DESC, B.id DESC
		LIMIT 0, 3
	</select>


	<!-- 메인 템플릿 알람목록 조회 -->
	<select id="selectMainTemplateAlarmList" parameterType="String" resultType="map">
		<![CDATA[
		SELECT /* selectMainTemplateAlarmList */ A.code_group AS codeGroup
		, A.name AS codeGroupName
		, B.code
		, B.name AS codeName
		, C.id
		, IFNULL(C.template_title, '') AS templateTitle
		, IFNULL(CASE WHEN C.more_show_url_use_yn = 'Y' THEN C.more_show_url ELSE NULL END, '') AS moreShowUrl
		, IFNULL(C.more_show_url_use_yn,'') AS moreShowUrlUseYn
		, IFNULL(C.keyword_count, 0) keywordCount
		, IFNULL(C.display_order, 0) AS displayOrder
		, IFNULL(C.display_template_name, B.name) AS displayTemplateName
		, IFNULL(C.highlight_text, '') AS highlightText
		FROM emaul.code_group A JOIN emaul.common_code B ON A.code_group = B.code_group
					 	   LEFT OUTER JOIN emaul.app_main_template C ON B.code = C.code
		WHERE A.code_group = #{type}
			AND A.use_yn = 'Y'
		    AND B.use_yn = 'Y'
		    AND C.display_yn = 'Y'
		ORDER BY C.display_order
		]]>
	</select>


	<!-- 메인 베너 상세 조회 -->
	<select id="selectMainTemplateDetailBannerList" parameterType="AppMainTemplateDetailVo" resultType="map">
		SELECT A.id
			, A.main_template_id
			,  IFNULL(A.code, '') AS code
			,  IFNULL(A.web_url, '') AS url
			,  IFNULL(A.url_type, '') AS urlType
			, IFNULL(
				CONCAT('/api/public/app-main/image-view/', A.file_group_key)
			, '') AS imageUrl
			,  IFNULL(A.direction, '') AS direction
		FROM emaul.app_main_template_detail A
		WHERE
			A.display_yn = 'Y'
			<if test='codes != null'>
				AND A.code IN
				<foreach item="item" index="index" collection="codes" open="(" separator="),(" close=")">
					#{item}
				</foreach>
			</if>
		ORDER BY A.id ASC
	</select>

</mapper>
