<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaha.server.emaul.mapper.BoardMapper">

    <insert id="insertBoardCategory" parameterType="BoardCategory" >
    /* insertBoardCategory */
        INSERT INTO board_category
        (
            apt_id
           ,name
           ,ord
           ,type
           ,content_mode
           ,push_after_write
           ,json_array_readable_user_type
           ,json_array_writable_user_type
           ,user_privacy
        )
        VALUES
        (
            #{apt.id}
           ,#{name}
           ,#{ord}
           ,#{type}
           ,#{contentMode}
           ,#{pushAfterWrite}
           ,#{jsonArrayReadableUserType}
           ,#{jsonArrayWritableUserType}
           ,#{userPrivacy}
        )
    </insert>

</mapper>
