<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaha.server.emaul.v2.mapper.common.GovOfficeMapper">

<select id="selectGovOfficeVo" parameterType="GovOfficeVo" resultType="GovOfficeVo">
	SELECT /** selectGovOfficeVo  */ sido
	     ,A.sigungu
	     ,A.name
	     ,A.url
	FROM gov_office A
	WHERE   A.sigungu = #{sigungu}

</select>


</mapper>
